
{{ 'KitBuilder.js' | asset_url | script_tag }}

<div class="KitBuilder">
    <h1>{{ section.settings.headline }}</h1>
    <div class = main>
        <div class = "featured">
            {% assign defaultProduct = all_products[section.blocks[0].settings.product1] %}
            <div class = "feautedproductinfo">
                <h1 id="featuredproductname">{{defaultProduct.title}}</h1>
                {% assign defaultProductImage = defaultProduct.featured_image %}
                <img class = "featuredproductimage" src = "{{defaultProductImage.src | image_url: width: 400}}" id = "featuredproductimage"height="400px" width="400px">
                <div class = "featuredproductdesc">
                    <div id="featuredproductdesc">
                        {{defaultProduct.description}}
                        {% assign price_in_cents = defaultProduct.price %} 
                        {% assign price_in_dollars = price_in_cents | divided_by: 100 %}
                        {% assign price_remainder = price_in_cents | modulo: 100 %}
                    </div>
                    <h3 id="featuredproductprice">${{ price_in_dollars }}.{{ price_remainder | append: "00" | slice: 0, 2 }}</h3>
                </div>

            </div>
        </div>
        <div class = "checkout">
            <div class = "productList">
                <ul>
                    <li>thing 1</li>
                    <li>thing 1</li>
                    <li>thing 1</li>

                </ul>

            </div>
            <div class = "checkoutButton">
                <div id = "checkoutButton">
                    <button onclick ="checkout()">Add All to Cart</button>
                </div>
                <div id = checkoutMessage class = "hide">
                    Your items have been added to cart, refresh or <a href= "/cart">view cart</a> to see updated cart.
                </div>
            </div>
           
        </div>
        

    </div>

    <div class = kits>
        {% for block in section.blocks %}
            <div id = "section{{forloop.index}}" class = kitsection>

                <div class = kitsectiontitle>
                    <h1>{{ block.settings.SectionHeader }}</h1>
                    <div class = "noItem" opacity = 0.33 onclick = "selected({{ forloop.index }}, this, 0, 0)"> No {{ block.settings.SectionHeader }}  X</div>
                </div>
                <div class = components> 
                    {% if block.settings.product1.id != blank %}
                    {% assign product1 = all_products[block.settings.product1] %}
                    <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product1.id}}, {{product1.variants.first.id}} )">
                        <img class = "productimage" height="400px" width="400px" src = {{product1.featured_image | image_url: width: 400}}>
                        <div class = "productinfo"> 
                            <h4>{{ block.settings.product1name }}</h4>
                        </div>
                        <div class = "productprice">
                            {% assign p1_price_in_cents = product1.price %} 
                            {% assign p1_price_in_dollars = price_in_cents | divided_by: 100 %}
                            {% assign p1_price_remainder = price_in_cents | modulo: 100 %}
                            ${{ p1_price_in_dollars }}.{{ p1_price_remainder | append: "00" | slice: 0, 2 }}
                        </div>
                    </div>
                    {% endif %}

                    {% if block.settings.product2.id != blank %}
                    {% assign product2 = all_products[block.settings.product2] %}
                    <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product2.id}}, {{product2.variants.first.id}})">
                        <img class = "productimage" height="400px" width="400px" src = {{product2.featured_image | image_url: width: 400}}>

                        <div class = "productinfo"> 
                            <h4>{{ block.settings.product2name }}</h4>
                        </div>
                        <div class = "productprice">
                            {% assign p2_price_in_cents = product1.price %} 
                            {% assign p2_price_in_dollars = price_in_cents | divided_by: 100 %}
                            {% assign p2_price_remainder = price_in_cents | modulo: 100 %}
                            ${{ p2_price_in_dollars }}.{{ p2_price_remainder | append: "00" | slice: 0, 2 }}
                        </div>

                    </div>
                    {% endif %}

                    {% if block.settings.product3.id != blank %}
                    {% assign product3 = all_products[block.settings.product3] %}
                    <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product3.id}}, {{product3.variants.first.id}})">
                        <img class = "productimage" height="400px" width="400px" src = {{product3.featured_image | image_url: width: 400}}>
                        <div class = "productinfo"> 
                            <h4>{{ block.settings.product3name }}</h4>
                        </div>
                        <div class = "productprice">
                            {% assign p3_price_in_cents = product1.price %} 
                            {% assign p3_price_in_dollars = price_in_cents | divided_by: 100 %}
                            {% assign p3_price_remainder = price_in_cents | modulo: 100 %}
                            ${{ p3_price_in_dollars }}.{{ p3_price_remainder | append: "00" | slice: 0, 2 }}
                        </div>  

                    </div>
                    {% endif %}                    
                </div>
            </div>
        {%endfor%}
    </div>
</div>


{%stylesheet%}

.featured{
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.25em;
    border-style: solid;
    padding: 0em 2em;
    margin-bottom: 1em;
}
.feautedproductinfo{
}
.featuredproductdesc{
    max width: 80%;
}
.featuredproductimage{
    width: 25em; 
    height: 25em;
}
.checkout{
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.25em;
    border-style: solid;
    padding: 1em 2em;
    margin-top: 1em;
    flex-grow: 1;
    justify-content: space-between;
}
.checkoutButton{

}
.KitBuilder{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}
.featuredproductheader{
    font-size: 2em;
}
.main{
    width: auto;
    max-width: 50$;
    height: auto%;
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.kits{
    width: auto;
    margin: 1em;
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.25em;
    border-style: solid;
}
.kitsection{
    margin: 1em;
}
.kitsectiontitle{
    text-align: right;
    margin-right: 1em;
    color: black;
}
.noItem{
    margin-top: -1em;
    cursor: pointer;
}
.components{
    display: flex;
    justify-content: flex-end;
    align: center;
    margin-top: -1em;
}
.productcard {
    width: 12em;
    height: 16em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productinfo{
    padding: 0 0.5em;
    color: black;
    vertical-align: top;
    margin-top: -1em;
    margin-bottom: -1em;    
}
.productprice{
    padding: 0 0.5em;
    color: black;
    font-size: 0.8em;
    line-height: 1em;
}
.productimage{
    width:12em; 
    height:12em;
    transition-duration: 600ms;
    transition-timing-function: ease;
}
.productimage:hover {
    transform: scale(1.05);
 }

.productcard.selected {
    background-color: red;
}
.hide{
    display: none;
}
.noImage{
    background-color: black;
    width: 200px;
    height: 200px;
}

{%endstylesheet%}




{% schema %}
    {
        "name": "Kit-Builder",
        "max_blocks": 6,
        "blocks":[
            {
                "name": "Kit Section",
                "type": "Kit-Section",
                "settings":[
                    {
                        "type": "text",
                        "label": "Section Header",
                        "id": "SectionHeader"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product1"
                    },
                    {
                        "type": "text",
                        "label": "Product 1 Name",
                        "id": "product1name"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product2"
                    },
                    {
                        "type": "text",
                        "label": "Product 2 Name",
                        "id": "product2name"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product3"
                    },
                    {
                        "type": "text",
                        "label": "Product 3 Name",
                        "id": "product3name"
                    }
                ]                            
            }
        ],
        "presets": [
            {"name": "Kit-Builder"}
        ]
    }
{% endschema %}