
{{ 'KitBuilder.js' | asset_url | script_tag }}

<div class="KitBuilder">
    <h2>{{ section.settings.headline }}</h2>
    <div class = main>
        <div class = "featured">
            {% assign defaultProduct = all_products[section.blocks[0].settings.product1] %}
            <div class = "feautedproductinfo">
                <h2 id="featuredproductname">{{defaultProduct.title}}</h2>
                {% assign defaultProductImage = defaultProduct.featured_image %}
                <img class = "featuredproductimage" src = "{{section.blocks[0].settings.product1img | image_url: width: 400}}" id = "featuredproductimage"height="400px" width="400px">
                <div class = "featuredproductdesc">
                    <div id="featuredproductdesc">
                        {{block.settings.product1desc}}
                        {% assign price_in_cents = defaultProduct.price %} 
                        {% assign price_in_dollars = price_in_cents | divided_by: 100 %}
                        {% assign price_remainder = price_in_cents | modulo: 100 %}
                    </div>
                    <div class="simpleText a" id="featuredproductprice">${{ price_in_dollars }}.{{ price_remainder | append: "00" | slice: 0, 2 }}</div>
                </div>

            </div>
        </div>
        <div class = "checkout">
            <h2>Your Tapless Kit</h2>
            <div class = "kitList">
                {% for block in section.blocks %}
                    <div class = "selectedItem"> 
                        <div class = "heavyText" id = "selectedItem{{forloop.index}}"> No {{block.settings.SectionHeader}}</div>
                        <div class = "simpleText" id = "selectedItemPrice{{forloop.index}}">$0.00</div>
                    </div>
                {%endfor%}
            </div>
            <div>
                <div class = checkoutBottom>
                    <div class = "selectedItem"> 
                        <div class = "heavyText">Total</div>
                        <div class = "simpleText" id = "selectedItemTotal" >$0.00</div>
                    </div>
                    <div class = "b">
                        <div id = "cButton" class = "checkoutButton" onclick ="checkout()"> <div class = "simpleText">Add All to Cart</div></div>
                        <div id = cMessage class = "hide">
                            <div class = "simpleText">Your items have been added to cart, refresh or <a href= "/cart">view cart</a> to see updated cart. </div>
                        </div>
                    </div>
                    
                </div>
            </div>
           
        </div>
        

    </div>

    <div class = kits>
        {% for block in section.blocks %}
            <div id = "section{{forloop.index}}" class = kitsection>

                <div class = kitsectiontitle>
                    <h2>{{ block.settings.SectionHeader }}</h2>
                </div>
                <div class = kitsectiondesc>
                        <span class = simpleText>{{ block.settings.SectionDesc }}</span>
                </div>
                <div class = components> 
                    {% if block.settings.product1.id != blank %}
                    {% assign product1 = all_products[block.settings.product1] %}
                    <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product1.id}}, {{product1.variants.first.id}}, '{{block.settings.product1desc}}', '{{block.settings.product1img}}', '{{block.settings.product1name}}', '{{block.settings.SectionHeader}}')">
                        <img class = "productimage" height="400px" width="400px" src = {{block.settings.product1img | image_url: width: 400}}>
                        <div class = "productinfo"> 
                            <span class = heavyText>{{ block.settings.product1name }}</span>
                        </div>
                        <div class = "productprice">
                            {% assign p1priceincents = product1.price %} 
                            {% assign p1priceindollars = p1priceincents | divided_by: 100 %}
                            {% assign p1priceremainder = priceincents | modulo: 100 %}
                            ${{ p1priceindollars }}.{{ p1priceremainder | append: "00" | slice: 0, 2 }}
                        </div>
                    </div>
                    {% endif %}

                    {% if block.settings.product2.id != blank %}
                    {% assign product2 = all_products[block.settings.product2] %}
                    <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product2.id}}, {{product1.variants.first.id}}, '{{block.settings.product2desc}}', '{{block.settings.product2img}}', '{{block.settings.product2name}}', '{{block.settings.SectionHeader}}')">
                        <img class = "productimage" height="400px" width="400px" src = {{block.settings.product2img | image_url: width: 400}}>

                        <div class = "productinfo"> 
                            <span class = heavyText>{{ block.settings.product2name }}</span>
                        </div>
                        <div class = "productprice">
                            {% assign p2priceincents = product2.price %} 
                            {% assign p2priceindollars = p2priceincents | divided_by: 100 %}
                            {% assign p2priceremainder = p2priceincents | modulo: 100 %}
                            ${{ p2priceindollars }}.{{ p2priceremainder | append: "00" | slice: 0, 2 }}

                        </div>

                    </div>
                    {% endif %}

                    {% if block.settings.product3.id != blank %}
                    {% assign product3 = all_products[block.settings.product3] %}
                    <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product3.id}}, {{product3.variants.first.id}}, '{{block.settings.product3desc}}', '{{block.settings.product3img}}', '{{block.settings.product3name}}', '{{block.settings.SectionHeader}}')">
                        <img class = "productimage" height="400px" width="400px" src = {{block.settings.product3img | image_url: width: 400}}>
                        <div class = "productinfo"> 
                            <span class = heavyText>{{ block.settings.product3name }}</span>
                        </div>
                        <div class = "productprice">
                            {% assign p3priceincents = product3.price %} 
                            {% assign p3priceindollars = p3priceincents | divided_by: 100 %}
                            {% assign p3priceremainder = p3priceincents | modulo: 100 %}
                            ${{ p3priceindollars }}.{{ p3priceremainder | append: "00" | slice: 0, 2 }}
                        </div>  

                    </div>
                    {% endif %}                    
                </div>
            </div>
        {%endfor%}
    </div>
</div>


{%stylesheet%}
:root {
    --font-body-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-weight-bold: 700;
    --font-heading-family: "Neue Plak", sans-serif;
    --font-heading-style: normal;
    --font-heading-weight: 400;
    --font-body-scale: 1.0;
    --font-heading-scale: 1.0;
    --media-padding: px;
    --media-border-opacity: 0.05;
    --media-border-width: 1px;
    --media-radius: 0px;
    --media-shadow-opacity: 0.0;
    --media-shadow-horizontal-offset: 0px;
    --media-shadow-vertical-offset: 4px;
    --media-shadow-blur-radius: 5px;
    --media-shadow-visible: 0;
    --page-width: 120rem;
    --page-width-margin: 0rem;
    --product-card-image-padding: 0.0rem;
    --product-card-corner-radius: 0.0rem;
    --product-card-text-alignment: left;
    --product-card-border-width: 0.0rem;
    --product-card-border-opacity: 0.1;
    --product-card-shadow-opacity: 0.0;
    --product-card-shadow-visible: 0;
    --product-card-shadow-horizontal-offset: 0.0rem;
    --product-card-shadow-vertical-offset: 0.4rem;
    --product-card-shadow-blur-radius: 0.5rem;
    --collection-card-image-padding: 0.0rem;
    --collection-card-corner-radius: 0.0rem;
    --collection-card-text-alignment: left;
    --collection-card-border-width: 0.0rem;
    --collection-card-border-opacity: 0.1;
    --collection-card-shadow-opacity: 0.0;
    --collection-card-shadow-visible: 0;
    --collection-card-shadow-horizontal-offset: 0.0rem;
    --collection-card-shadow-vertical-offset: 0.4rem;
    --collection-card-shadow-blur-radius: 0.5rem;
    --blog-card-image-padding: 0.0rem;
    --blog-card-corner-radius: 0.0rem;
    --blog-card-text-alignment: left;
    --blog-card-border-width: 0.0rem;
    --blog-card-border-opacity: 0.1;
    --blog-card-shadow-opacity: 0.0;
    --blog-card-shadow-visible: 0;
    --blog-card-shadow-horizontal-offset: 0.0rem;
    --blog-card-shadow-vertical-offset: 0.4rem;
    --blog-card-shadow-blur-radius: 0.5rem;
    --badge-corner-radius: 4.0rem;
    --popup-border-width: 1px;
    --popup-border-opacity: 0.1;
    --popup-corner-radius: 0px;
    --popup-shadow-opacity: 0.05;
    --popup-shadow-horizontal-offset: 0px;
    --popup-shadow-vertical-offset: 4px;
    --popup-shadow-blur-radius: 5px;
    --drawer-border-width: 1px;
    --drawer-border-opacity: 0.1;
    --drawer-shadow-opacity: 0.0;
    --drawer-shadow-horizontal-offset: 0px;
    --drawer-shadow-vertical-offset: 4px;
    --drawer-shadow-blur-radius: 5px;
    --spacing-sections-desktop: 0px;
    --spacing-sections-mobile: 0px;
    --grid-desktop-vertical-spacing: 8px;
    --grid-desktop-horizontal-spacing: 8px;
    --grid-mobile-vertical-spacing: 4px;
    --grid-mobile-horizontal-spacing: 4px;
    --text-boxes-border-opacity: 0.1;
    --text-boxes-border-width: 0px;
    --text-boxes-radius: 0px;
    --text-boxes-shadow-opacity: 0.0;
    --text-boxes-shadow-visible: 0;
    --text-boxes-shadow-horizontal-offset: 0px;
    --text-boxes-shadow-vertical-offset: 4px;
    --text-boxes-shadow-blur-radius: 5px;
    --buttons-radius: 0px;
    --buttons-radius-outset: 0px;
    --buttons-border-width: 1px;
    --buttons-border-opacity: 1.0;
    --buttons-shadow-opacity: 0.0;
    --buttons-shadow-visible: 0;
    --buttons-shadow-horizontal-offset: 0px;
    --buttons-shadow-vertical-offset: 4px;
    --buttons-shadow-blur-radius: 5px;
    --buttons-border-offset: 0px;
    --inputs-radius: 0px;
    --inputs-border-width: 1px;
    --inputs-border-opacity: 0.55;
    --inputs-shadow-opacity: 0.0;
    --inputs-shadow-horizontal-offset: 0px;
    --inputs-margin-offset: 0px;
    --inputs-shadow-vertical-offset: 4px;
    --inputs-shadow-blur-radius: 5px;
    --inputs-radius-outset: 0px;
    --variant-pills-radius: 28px;
    --variant-pills-border-width: 1px;
    --variant-pills-border-opacity: 0.55;
    --variant-pills-shadow-opacity: 0.0;
    --variant-pills-shadow-horizontal-offset: 0px;
    --variant-pills-shadow-vertical-offset: 4px;
    --variant-pills-shadow-blur-radius: 5px;
}
.checkoutBottom{
    margin-top: 0.75em;
    padding-top: 0.5em;
    border-top: solid;
    border-width: 0.1em;
}
.a{
    text-align: right;
    margin-top: 1em;
}
.selectedItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.b{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simpleText{
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-size: calc(var(--font-heading-scale)* 1.5rem);
    font-weight: var(--font-heading-weight);
    letter-spacing: calc(var(--font-heading-scale)* .06rem);
    word-break: break-word;
    vertical-align: top;
}
.heavyText{
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-size: calc(var(--font-heading-scale)* 1.5rem);
    font-weight: bold;
    letter-spacing: calc(var(--font-heading-scale)* .06rem);
    word-break: break-word;
    vertical-align: top;
}

.featured{
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.25em;
    border-style: solid;
    padding: 0em 2em;
    margin-bottom: 1em;
    height: 60%;
}
.feautedproductinfo{
}
.featuredproductimage{
    width: 25em; 
    height: 25em;
}
.checkout{
    width: 100%;
    height: auto;
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.25em;
    border-style: solid;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    /*flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

.checkoutButton{
    width: auto;
    padding: 0.25em 1em;
    cursor: pointer;
    border: solid;
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.25em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.checkoutButton:hover{
    text-decoration: underline;
}

.KitBuilder{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}
.featuredproductheader{
    font-size: 2em;
}
.main{
    width: 40%;
    height: auto%;
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.kits{
    width: auto;
    margin: 1em;
}
.kitsection{
    margin-bottom: 1em;
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.25em;
    border-style: solid;
}
.kitsectiontitle{
    text-align: right;
    margin-right: 1em;
}
.kitsectiondesc{
    text-align: right;
    margin-right: 1em;
    margin-top: -1em;
    margin-bottom: 1em;
}
.noItem{
    margin-top: -1em;
    cursor: pointer;
}
.components{
    display: flex;
    justify-content: flex-end;
    align: center;
    margin-top: -1em;
}
.productcard {
    width: 12em;
    height: 17em;
    margin: 0em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.25em;
}
.productinfo{
    vertical-align: top;
    height: 3em;
    margin-bottom: -1em; 
    padding: 0 0.5em;   
    text-align: right;
}
.productprice{
    font-size: 0.8em;
    height: 2em;
    padding: 0 0.5em;
    text-align: right;

}
.productimage{
    width:12em; 
    height:12em;
    transition-duration: 600ms;
    transition-timing-function: ease;
}
.productcard.selected {
    background-color: black;
    color: white;
}
.productcard:hover .productinfo {
    text-decoration: underline;
}
.productcard:hover .productimage {
    transform: scale(1.05);
}
.hide{
    display: none;
}


{%endstylesheet%}




{% schema %}
    {
        "name": "Kit-Builder",
        "max_blocks": 6,
        "blocks":[
            {
                "name": "Kit Section",
                "type": "Kit-Section",
                "settings":[
                    {
                        "type": "text",
                        "label": "Section Header",
                        "id": "SectionHeader"
                    },
                    {
                        "type": "text",
                        "label": "Section Description",
                        "id": "SectionDesc"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product1"
                    },
                    {
                        "type": "text",
                        "label": "Product 1 Name",
                        "id": "product1name"
                    },
                    {
                        "type": "text",
                        "label": "Product 1 Description",
                        "id": "product1desc"
                    },
                    {
                        "type": "image_picker",
                        "label": "Product 1 Image",
                        "id": "product1img"
                    },
                    {
                        "type": "product",
                        "label": "Product 2",
                        "id": "product2"
                    },
                    {
                        "type": "text",
                        "label": "Product 2 Name",
                        "id": "product2name"
                    },
                    {
                        "type": "text",
                        "label": "Product 2 Description",
                        "id": "product2desc"
                    },
                    {
                        "type": "image_picker",
                        "label": "Product 2 Image",
                        "id": "product2img"
                    },
                    {
                        "type": "product",
                        "label": "Product 3",
                        "id": "product3"
                    },
                    {
                        "type": "text",
                        "label": "Product 3 Name",
                        "id": "product3name"
                    },
                    {
                        "type": "text",
                        "label": "Product 3 Description",
                        "id": "product3desc"
                    },
                    {
                        "type": "image_picker",
                        "label": "Product 3 Image",
                        "id": "product3img"
                    }
                ]                            
            }
        ],
        "presets": [
            {"name": "Kit-Builder"}
        ]
    }
{% endschema %}