
{{ 'KitBuilder.js' | asset_url | script_tag }}

<div class="KitBuilder">
    <h1>{{ section.settings.headline }}</h1>
    <div class = main>
        {% assign defaultProduct = all_products[section.blocks[0].settings.product1] %}
        <h3 id="featuredproductname">{{defaultProduct.title}}</h3>
        {% assign defaultProductImage = defaultProduct.featured_image %}
        <img src = "{{defaultProductImage.src | image_url: width: 200}}" id = "featuredproductimage"height="200px" width="200px">
        <h4 id="featuredproductdesc">{{defaultProduct.description}}</h4>
        {% assign price_in_cents = defaultProduct.price %} 
        {% assign price_in_dollars = price_in_cents | divided_by: 100 %}
        {% assign price_remainder = price_in_cents | modulo: 100 %}
        <h3 id="featuredproductprice">${{ price_in_dollars }}.{{ price_remainder | append: "00" | slice: 0, 2 }}</h3>
    </div>

    <div class = kits>
        {% for block in section.blocks %}
            <div id = "section{{forloop.index}}" class = kitsection>
                <div class = kitsectiontitle>{{ block.settings.SectionHeader }}</div>
                <div class = components> 
                    {% if block.settings.product1.id != blank %}
                    {% assign product1 = all_products[block.settings.product1] %}
                    <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product1.id}}, {{product1.variants.first.id}} )">
                        <img class = "productimage" height="200px" width="200px" src = {{product1.featured_image | image_url: width: 200}}>
                        <div class = "productinfo"> 
                            {{ product1.title }}
                        </div>
                    </div>
                    {% endif %}

                    {% if block.settings.product2.id != blank %}
                    {% assign product2 = all_products[block.settings.product2] %}
                    <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product2.id}}, {{product2.variants.first.id}})">
                        <img class = "productimage" height="200px" width="200px" src = {{product2.featured_image | image_url: width: 200}}>

                        <div class = "productinfo"> 
                            {{ product2.title }}
                        </div>
                    </div>
                    {% endif %}

                    {% if block.settings.product3.id != blank %}
                    {% assign product3 = all_products[block.settings.product3] %}
                    <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product3.id}}, {{product3.variants.first.id}})">
                        <img class = "productimage" height="200px" width="200px" src = {{product3.featured_image | image_url: width: 200}}>
                        <div class = "productinfo"> 
                            {{ product3.title }}
                        </div>
                    </div>
                    {% endif %}

                    <div class = "productcard" onclick="selected({{ forloop.index }}, this, 0, 0)">
                        {% if section.settings.noProductImage != blank %}
                            <img class = "productimage" height="200px" width="200px" src = {{section.settings.noProductImage  | image_url: width: 200}}>
                        {% else %}
                            <div class = "noImage"></div>
                        {% endif %}
                        <div class = "productinfo"> 
                            No {{block.settings.SectionHeader}}
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
<div class = "checkout">
    <button onclick="checkout()">Add All to Cart</button>

</div>


{%stylesheet%}
.checkout{
    margin: 2em;
}
.KitBuilder{
    display: flex;
    margin: 2em;
}
.main{
    width: auto;
    margin: 1em;
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.25em;
    border-style: solid;
    padding: 0 2em;

}
.kits{
    width: auto;
    margin: 1em;
    border-color: black;
    border-width: 0.1em;
    border-radius: 0.25em;
    border-style: solid;
}
.kitsection{
    margin: 1em;
}
.kitsectiontitle{
    text-align: right;
    font-size: 2em;
    margin-right: 1em;
}
.components{
    display: flex;
    justify-content: flex-end;
    align: center;
    margin-bottom: 1em;
}
.productcard {
    background-color: grey;
    width: 10em;
    height: 15em;
    margin: 0 1em;
}
.productinfo{
    font-size: 0.8em;
    line-height: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 0.5em;
}
.productimage{
    width:10em; 
    height:10em;
}
.productcard.selected {
    background-color: red;
}
.noImage{
    background-color: black;
    width: 200px;
    height: 200px;
}

{%endstylesheet%}




{% schema %}
    {
        "name": "Kit-Builder",
        "settings": [
            {
                "type": "text",
                "label": "Headline",
                "id": "headline"
            },
            {
                "type": "image_picker",
                "label": "No Product Image",
                "id": "noProductImage"
            }
        ],
        "max_blocks": 6,
        "blocks":[
            {
                "name": "Kit Section",
                "type": "Kit-Section",
                "settings":[
                    {
                        "type": "text",
                        "label": "Section Header",
                        "id": "SectionHeader"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product1"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product2"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product3"
                    }
                ]                            
            }
        ],
        "presets": [
            {"name": "Kit-Builder"}
        ]
    }
{% endschema %}