

<div class="faq">
    <h1>{{ section.settings.headline }}</h1>
    {% for block in section.blocks %}
        <h2>{{ section.settings.SectionHeader }}</h2>
        <input type="checkbox" id="product1section{{forloop.index}}" class = "faq__toggle">
        {% assign product1 = all_products[block.settings.product1] %}
        <label for="product1section{{forloop.index}}" class="faq__question">
            <div>{{product1.featured_image | image_url: width: 400 | image_tag}}</div>
        </label>
        <div class = "faq__answer"> 
            <h3>{{ product1.title }}</h3>
        </div>

    {%endfor%}
  
</div>

{%stylesheet%}
.faq__answer{
    background: red;
}
.faq__toggle:checked ~ .faq__answer{
    background: green;
}
{%endstylesheet%}

{%javascript%}

{%endjavascript%}

{% schema %}
    {
        "name": "Kit-Builder",
        "settings": [
            {
                "type": "text",
                "label": "Headline",
                "id": "headline"
            }
        ],
        "max_blocks": 6,
        "blocks":[
            {
                "name": "Kit Section",
                "type": "Kit-Section",
                "settings":[
                    {
                        "type": "text",
                        "label": "Section Header",
                        "id": "SectionHeader"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product1"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product2"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product3"
                    }
                ]               
            }
        ],
        "presets": [
            {"name": "Kit-Builder"}
        ]
    }
{% endschema %}