

<div class="faq">
    <h1>{{ section.settings.headline }}</h1>
    {% for block in section.blocks %}
        <h2>{{ section.settings.SectionHeader }}</h2>
        <div class = "productcard">
            <input type="checkbox" id="product1section{{forloop.index}}" class = "selected">
            {% assign product1 = all_products[block.settings.product1] %}
            <label for="product1section{{forloop.index}}">
                <div>{{product1.featured_image | image_url: width: 400 | image_tag}}</div>
            </label>
            <div class = "productinfo"> 
                <h3>{{ product1.title }}</h3>
            </div>
        </div>

    {%endfor%}
  
</div>

{%stylesheet%}
.productinfo{
    background: red;
}
.selected:checked ~ .productinfo{
    background: green;
}
{%endstylesheet%}

{%javascript%}
document.addEventListener('DOMContentLoaded', function () {
  var div = document.getElementById('productcard');
  
  div.addEventListener('click', function () {
    div.classList.toggle('clicked');
  });
});
{%endjavascript%}

{% schema %}
    {
        "name": "Kit-Builder",
        "settings": [
            {
                "type": "text",
                "label": "Headline",
                "id": "headline"
            }
        ],
        "max_blocks": 6,
        "blocks":[
            {
                "name": "Kit Section",
                "type": "Kit-Section",
                "settings":[
                    {
                        "type": "text",
                        "label": "Section Header",
                        "id": "SectionHeader"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product1"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product2"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product3"
                    }
                ]               
            }
        ],
        "presets": [
            {"name": "Kit-Builder"}
        ]
    }
{% endschema %}