{{'section-faq.css' |  asset_url |  stylesheet_tag}}


<div class="page-width faq">
    <h2 class="h1">{{ section.settings.headline }}</h2>
    {% for block in section.blocks %}
        <div class="faq__row">
            <input type="checkbox" id="item1-{{forloop.index}}" class="faq__toggle">
            {% assign product = all_products[block.settings.product] %}
            <label for="question-{{forloop.index}}" class="faq__question">{{ product.title }}</label>
            <div class="faq__answer">{{product.featured_image | image_url: width: 400 | image_tag}}</div>
        </div>
        <div class="faq__row">
            <input type="checkbox" id="item2-{{forloop.index}}" class="faq__toggle">
            {% assign product = all_products[block.settings.product] %}
            <label for="question-{{forloop.index}}" class="faq__question">{{ product.title }}</label>
            <div class="faq__answer">{{product.featured_image | image_url: width: 400 | image_tag}}</div>
        </div>
        <div class="faq__row">
            <input type="checkbox" id="item3-{{forloop.index}}" class="faq__toggle">
            {% assign product = all_products[block.settings.product] %}
            <label for="question-{{forloop.index}}" class="faq__question">{{ product.title }}</label>
            <div class="faq__answer">{{product.featured_image | image_url: width: 400 | image_tag}}</div>
        </div>
    {%endfor%}
  
</div>



{% schema %}
    {
        "name": "Kit-Builder",
        "settings": [
            {
                "type": "text",
                "label": "Headline",
                "id": "headline"
            }
        ],
        "blocks":[
            {
                "name": "Kit Section",
                "type": "Kit-Section",
                "settings":[
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product1"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product2"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product3"
                    }
                ]               
            }
        ],
        "presets": [
            {"name": "Kit-Builder"}
        ]
    }
{% endschema %}