

<div class="faq">
    <h1>{{ section.settings.headline }}</h1>
    <h2>current product</h2>
    {% assign defaultProduct = all_products[section.blocks.settings.product1] %}
    <div onload="setFeaturedProduct({{defaultProduct.id}})">
        <img src = "" id = "featuredproductimage" height="100px" width="100px">
        <h3 id="featuredproductname"></h3>
        <h4 id="featuredproductdesc"></h4>
        <h3 id="featuredproductprice"></h3>
    </div>
    {% for block in section.blocks %}

        <h2>{{ block.settings.SectionHeader }}</h2>
        <div id = "section{{forloop.index}}">

            {% assign product1 = all_products[block.settings.product1] %}
            <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product1.id}})">
                <div>{{product1.featured_image | image_url: width: 200 | image_tag}}</div>
                <div class = "productinfo"> 
                    <h3>{{ product1.title }}</h3>
                </div>
            </div>

            {% assign product2 = all_products[block.settings.product2] %}
            <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product2.id}})">
                <div>{{product2.featured_image | image_url: width: 200 | image_tag}}</div>
                <div class = "productinfo"> 
                    <h3>{{ product2.title }}</h3>
                </div>
            </div>

            {% assign product3 = all_products[block.settings.product3] %}
            <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product3.id}})">
                <div>{{product3.featured_image | image_url: width: 200 | image_tag}}</div>
                <div class = "productinfo"> 
                    <h3>{{ product3.title }}</h3>
                </div>
            </div>

            {% assign product4 = all_products[block.settings.product4] %} 
            <div class = "productcard" onclick="selected({{ forloop.index }}, this, {{product4.id}})">
                <div>{{product4.featured_image | image_url: width: 200 | image_tag}}</div>
                <div class = "productinfo"> 
                    <h3>{{ product4.title }}</h3>
                </div>
            </div>
        </div>





    {%endfor%}
  
</div>
{{ 'test-js.js' | asset_url | script_tag }}

{%stylesheet%}
.productcard {
  background-color: red;
}
.productcard.selected {
  background-color: green;
}
{%endstylesheet%}

{% schema %}
    {
        "name": "Kit-Builder",
        "settings": [
            {
                "type": "text",
                "label": "Headline",
                "id": "headline"
            }
        ],
        "max_blocks": 6,
        "blocks":[
            {
                "name": "Kit Section",
                "type": "Kit-Section",
                "settings":[
                    {
                        "type": "text",
                        "label": "Section Header",
                        "id": "SectionHeader"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product1"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product2"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product3"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product4"
                    }
                ]               
            }
        ],
        "presets": [
            {"name": "Kit-Builder"}
        ]
    }
{% endschema %}