

<div class="faq">
    <h1>{{ section.settings.headline }}</h1>
    {% for block in section.blocks %}

        <h2>{{ section.settings.SectionHeader }}</h2>

        <div class = "productcard section{{forloop.index}}" onclick=selected(this)>
            {% assign product1 = all_products[block.settings.product1] %}
            <div>{{product1.featured_image | image_url: width: 200 | image_tag}}</div>
            <div class = "productinfo"> 
                <h3>{{ product1.title }}</h3>
            </div>
        </div>

        <div class = "productcard section{{forloop.index}}" onclick=selected(this)>
            {% assign product2 = all_products[block.settings.product2] %}
            <div>{{product2.featured_image | image_url: width: 200 | image_tag}}</div>
            <div class = "productinfo"> 
                <h3>{{ product2.title }}</h3>
            </div>
        </div>

        <div class = "productcard section{{forloop.index}}" onclick=selected(this)>
            {% assign product3 = all_products[block.settings.product3] %}
            <div>{{product3.featured_image | image_url: width: 200 | image_tag}}</div>
            <div class = "productinfo"> 
                <h3>{{ product3.title }}</h3>
            </div>
        </div>





    {%endfor%}
  
</div>
{{ 'test-js.js' | asset_url | script_tag }}

{%stylesheet%}
.productcard {
  background-color: red;
}
.productcard.selected {
  background-color: green;
}
{%endstylesheet%}

{% schema %}
    {
        "name": "Kit-Builder",
        "settings": [
            {
                "type": "text",
                "label": "Headline",
                "id": "headline"
            }
        ],
        "max_blocks": 6,
        "blocks":[
            {
                "name": "Kit Section",
                "type": "Kit-Section",
                "settings":[
                    {
                        "type": "text",
                        "label": "Section Header",
                        "id": "SectionHeader"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product1"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product2"
                    },
                    {
                        "type": "product",
                        "label": "Product",
                        "id": "product3"
                    }
                ]               
            }
        ],
        "presets": [
            {"name": "Kit-Builder"}
        ]
    }
{% endschema %}